.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  color: #333;
}

/* Contenedor principal */
.main-container {
  display: flex;
  min-height: 100vh;
}

/* Estilos para las rutas (agregar más personalización si es necesario) */
.page-container {
  flex-grow: 1;
  padding: 20px;
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .page-container {
    padding: 10px;
  }
}
/* Estilos para el contenedor del dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Cuadrícula de gráficos */
.chart-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
  gap: 20px;
  width: 100%;
}

.chart-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chart-box h3 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
}

/* Responsividad */
@media screen and (max-width: 1024px) {
  .chart-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
}

@media screen and (max-width: 768px) {
  .chart-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
